
html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: bold
}

#volume {
    height: 50px;
    width: 300px;
}

.slider {
    width: 100%;
}

.slider_row {
    text-align: center;
}

.styleB {
    border: thin solid blue;
}

p {
    margin: 0;
}

#canvas-container {
    display: block;
    border: 3px solid black;
    margin: 20px;
    width: 350px;
    height: 350px;
    position: relative;
    float: left;
}
canvas {
    display: block;
}

.c-button {
    width: 44px;
    height: 44px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 1px 1px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 2px;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: white;
}
.c-button-red { background-color: #f44336; }
.c-button-green { background-color: #4CAF50; }
.c-button-blue { background-color: #008CBA; }
